<!-- 收到的评论 -->
<div class="commentsReceived">
    <div id="wrapper">
        <header>
            <img src="../../static/images/btn_back_n@2x.png" alt="" class="goBack" onclick="back()" /> 收到的评论
        </header>
        <ol class="pariseBox">
            <li class="pariseList" ng-repeat="msg in msgPraiseList" ng-click="toPostDetail($event)">
                <p class="timeline">2018-07-11 10:32</p>
                <div class="pariseInfo clearfix">
                    <!-- <p class="fl firstName">卖火柴的小女孩</p> -->
                    <span class="fl">您帖子</span>
                    <div class="fl lastName">
                        <div class="clearfix">
                            <span class="fl">[</span>
                            <p class="fl">{{msg.postPrefixContext}}</p>
                            <span class="fl">]</span>
                        </div>
                    </div>
                    <span class="fl">有新的评论！</span>
                </div>
            </li>
        </ol>
    </div>

</div>
<script>
    // 监听后退事件
    document.addEventListener("plusready", function () {
        plus.key.addEventListener("backbutton", function () {
            window.history.back();
        }, false);
    });
</script>