<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../../static/css/common.css" />
    <link rel="stylesheet" href="../../../static/css/bace.css" />
    <link rel="stylesheet" href="../../../static/css/dataStatistics.css" />

</head>

<body>
    <header class="x-content">
        <div class="x-container flexs">
            <img src="../../../static/image/x-logo.png" alt="">
            <ul class="nav flexs">
                <li class="active">数据统计</li>
                <li>板块管理</li>
                <li>审核管理</li>
                <li>用户管理</li>
                <li>系统设置</li>
            </ul>
            <div class="settings">
                <span>帮助中心</span>
                <span>|</span>
                <span>退出</span>
            </div>
        </div>
    </header>
    <!-- 第一部分内容 -->
    <div class="x-content tabl-txt-bg">
        <div class="x-container flexs">
            <div class="tabl-txt">
                <ul>
                    <li class="active">生活类</li>
                    <li>管理类</li>
                    <li>产品设计类</li>
                    <li>质量类</li>
                    <li>成本类</li>
                </ul>
                <div class="flexs tabl-txt-cont">
                    <ul class="flexs most-cont">
                        <li class="active">最多评论</li>
                        <li>最多浏览</li>
                        <li>最多点赞</li>
                    </ul>
                    <ul class="flexs date-cont">
                        <li class="act">日</li>
                        <li>月</li>
                        <li>周</li>
                    </ul>
                </div>
                <!-- 表格 -->
                <table cellpadding="0" cellspacing="0" class="x-table">
                    <tr style="background-color: #fff;">
                        <th>排名</th>
                        <th>帖子内容</th>
                        <th>帖子ID</th>
                        <th>发帖人</th>
                        <th>发帖时间</th>
                        <th>评论数</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>
                            <span>sasdsadas奥术大师多所多撒大声地所</span>
                        </td>
                        <td>100001</td>
                        <td>sada是的撒</td>
                        <td>2018-08-09 02:00</td>
                        <td>123421</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>
                            <span>sasdsadas奥术大师多所多撒大声地所</span>
                        </td>
                        <td>100001</td>
                        <td>sada是的撒</td>
                        <td>2018-08-09 02:00</td>
                        <td>123421</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>
                            <span>sasdsadas奥术大师多所多撒大声地所</span>
                        </td>
                        <td>100001</td>
                        <td>sada是的撒</td>
                        <td>2018-08-09 02:00</td>
                        <td>123421</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>
                            <span>sasdsadas奥术大师多所多撒大声地所</span>
                        </td>
                        <td>100001</td>
                        <td>sada是的撒</td>
                        <td>2018-08-09 02:00</td>
                        <td>123421</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>
                            <span>sasdsadas奥术大师多所多撒大声地所</span>
                        </td>
                        <td>100001</td>
                        <td>sada是的撒</td>
                        <td>2018-08-09 02:00</td>
                        <td>123421</td>
                    </tr>
                </table>
            </div>
            <!-- 排行榜 -->
            <div class="brank">
                <p>每月达人榜</p>
                <div class="flexs personInfo">
                    <img src="../../../static/image/head1.png" alt="">
                    <p>我不是盖伦</p>
                    <p class="thumb-num">
                        <i class="thumb"></i> 3390</p>
                </div>
                <div class="flexs personInfo">
                    <img src="../../../static/image/head1.png" alt="">
                    <p>我不是盖伦</p>
                    <p class="thumb-num">
                        <i class="thumb"></i> 3390</p>
                </div>
                <div class="flexs personInfo">
                    <img src="../../../static/image/head1.png" alt="">
                    <p>我不是盖伦</p>
                    <p class="thumb-num">
                        <i class="thumb"></i> 3390</p>
                </div>
                <div class="flexs personInfo">
                    <img src="../../../static/image/head1.png" alt="">
                    <p>我不是盖伦</p>
                    <p class="thumb-num">
                        <i class="thumb"></i> 3390</p>
                </div>
                <div class="flexs personInfo">
                    <img src="../../../static/image/head1.png" alt="">
                    <p>我不是盖伦</p>
                    <p class="thumb-num">
                        <i class="thumb"></i> 3390</p>
                </div>
            </div>
        </div>
    </div>
    <!-- 第二部分内容 -->
    <div class="x-content tabl-txt-bg">
        <div class="x-container bg-w">
            <div class="x-title flexs">
                <p>活跃度统计</p>
                <ul class="flexs date-conts">
                    <li class="act">日</li>
                    <li>月</li>
                </ul>
            </div>
            <div id="echartOne" style="height: 300px;"></div>
        </div>
    </div>
    <div class="x-content tabl-txt-bg">
        <div class="x-container bg-w">
            <div class="x-title flexs">
                <p>用户行为统计</p>
                <ul class="flexs date-conts">
                    <li class="act">日</li>
                    <li>月</li>
                </ul>
            </div>
            <div id="echartTow" style="height: 370px;"></div>
        </div>
    </div>
</body>
<script src="../../../static/js/lib/jquery-1.12.4.js"></script>
<script src="../../../static/js/lib/echarts.js"></script>
<script src="../../../static/js/dataStatistics.js"></script>

</html>