<div class="myDynamic">
  <div id="wrapper">
    <header>
      <img src="../images/btn_back_n@2x.png" alt="" class="goBack" onclick="back()" /> 我的动态
    </header>
    <!-- 动态 -->
    <div class="myDynamicBox">
      <div class="invitationBox">
        <!-- 头部信息 -->
        <div class="invitationList">
          <div class="invitationHead clearfix pos1">
            <p class="fl headPic">
              <img src="../images/invitationPic.jpg" alt="" />
            </p>
            <p class="fl userName">卖火柴的小女孩</p>
            <p class="fl userType">
              <span>生活类</span>
            </p>
            <p class="fr userTime">2018-07-10 14:58</p>
          </div>
        </div>
        <!-- 内容 -->
        <div class="innerBox">
          <p class="innerText">咱们公司的新产品，模型已经做出来了，现在给大家看看吧。</p>
          <!-- 违规行为提示 -->
          <div class="illegalBox">
            <div class="illegal">
              <p>您的发帖已被管理员拒绝</p>
              <p>拒绝原因：帖子中使用了不正言论，请慎重发言！</p>
            </div>
          </div>
          <div class="innerPic hide swiper-container swiper-container-horizontal">
            <div class="swiper-wrapper">
              <div class="piclist swiper-slide">
                <img src="../images/innerPic01.jpg" alt="" />
              </div>
              <div class="piclist swiper-slide">
                <img src="../images/innerPic02.jpg" alt="" />
              </div>
              <div class="piclist swiper-slide">
                <img src="../images/innerPic03.jpg" alt="" />
              </div>
              <div class="piclist swiper-slide">
                <img src="../images/innerPic01.jpg" alt="" />
              </div>
              <div class="piclist swiper-slide">
                <img src="../images/innerPic02.jpg" alt="" />
              </div>
            </div>
          </div>
        </div>
        <div class="textBox hide">
          <!-- 点赞留言图标 -->
          <div class="thumbsBox clearfix pos1">
            <div class="message fr">
              <div class="clearfix">
                <p class="fl" ng-click="linkHref($event)">
                  <img src="../images/btn_comment_n@2x.png" alt="" />
                </p>
                <span class="fl">168</span>
              </div>
            </div>
            <div class="thumbs fr">
              <div class="clearfix">
                <p class="fl" ng-click="thumbsUp($event)">
                  <img src="../images/btn_laud_n@2x.png" alt="" />
                </p>
                <span class="fl">1268</span>
              </div>
            </div>
          </div>
          <!-- 留言展示 -->
          <div class="thumbShow">
            <div class="thumblist">
              <ol class="showSth">
                <li class="clearfix">
                  <p class="fl thumbName">KOYme</p>
                  <p class="fl thumbInfo">非常棒，希望早日出成品。</p>
                </li>
                <li class="clearfix">
                  <p class="fl thumbName">No做NO待</p>
                  <p class="fl thumbInfo">非常棒，希望早日出成品。非常棒，希望早日出成品。</p>
                </li>
                <li class="clearfix">
                  <p class="fl thumbName">咖啡加糖</p>
                  <p class="fl thumbInfo">非常棒，希望早日出成品。</p>
                </li>
              </ol>
              <!-- lookmore -->
              <p class="lookMore pos1" ng-click="lookMore($event)">
                <span>查看更多评论</span>
                <b></b>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="invitationBox">
        <!-- 头部信息 -->
        <div class="invitationList">
          <div class="invitationHead clearfix pos1">
            <p class="fl headPic">
              <img src="../images/invitationPic.jpg" alt="" />
            </p>
            <p class="fl userName">卖火柴的小女孩</p>
            <p class="fl userType">
              <span>生活类</span>
            </p>
            <p class="fr userTime">2018-07-10 14:58</p>
          </div>
        </div>
        <!-- 内容 -->
        <div class="innerBox">
          <p class="innerText">咱们公司的新产品，模型已经做出来了，现在给大家看看吧。</p>
          <div class="innerPic swiper-container swiper-container-horizontal">
            <div class="swiper-wrapper">
              <div class="piclist swiper-slide">
                <img src="../images/innerPic01.jpg" alt="" />
              </div>
              <div class="piclist swiper-slide">
                <img src="../images/innerPic02.jpg" alt="" />
              </div>
              <div class="piclist swiper-slide">
                <img src="../images/innerPic03.jpg" alt="" />
              </div>
              <div class="piclist swiper-slide">
                <img src="../images/innerPic01.jpg" alt="" />
              </div>
              <div class="piclist swiper-slide">
                <img src="../images/innerPic02.jpg" alt="" />
              </div>
            </div>
          </div>
        </div>
        <!-- 点赞留言图标 -->
        <div class="thumbsBox clearfix pos1">
          <div class="message fr">
            <div class="clearfix">
              <p class="fl" ng-click="linkHref($event)">
                <img src="../images/btn_comment_n@2x.png" alt="" />
              </p>
              <span class="fl">168</span>
            </div>
          </div>
          <div class="thumbs fr">
            <div class="clearfix">
              <p class="fl" ng-click="thumbsUp($event)">
                <img src="../images/btn_laud_n@2x.png" alt="" />
              </p>
              <span class="fl">1268</span>
            </div>
          </div>
        </div>
        <!-- 留言展示 -->
        <div class="thumbShow">
          <div class="thumblist">
            <ol class="showSth">
              <li class="clearfix">
                <p class="fl thumbName">KOYme</p>
                <p class="fl thumbInfo">非常棒，希望早日出成品。</p>
              </li>
              <li class="clearfix">
                <p class="fl thumbName">No做NO待</p>
                <p class="fl thumbInfo">非常棒，希望早日出成品。非常棒，希望早日出成品。</p>
              </li>
              <li class="clearfix">
                <p class="fl thumbName">咖啡加糖</p>
                <p class="fl thumbInfo">非常棒，希望早日出成品。</p>
              </li>
            </ol>
            <!-- lookmore -->
            <p class="lookMore pos1" ng-click="lookMore($event)">
              <span>查看更多评论</span>
              <b></b>
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- 没有信息 显示效果 -->
    <div class="nothingBox hide ">
      <div class="nothingText">
        <div class="nothingImg">
          <img src="../images/img_Empty-state_d.png" alt="">
        </div>
        <div class="nothing">您没有发布不过帖子</div>
        <p onclick="clicked('index.html#/sendPost',false,false)">现在去发布</p>
      </div>
    </div>
  </div>
</div>
<script>
  var swiper = new Swiper('.innerPic', {
    slidesPerView: 4,
    spaceBetween: 5,
    slidesPerColumn: 1
  });
</script>