@charset "UTF-8";
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak,
.ng-hide {
	display: none !important;
}

ng\:form {
	display: block;
}

.hide {
	display: none;
}

.ng-animate-start {
	clip: rect(0, auto, auto, 0);
	-ms-zoom: 1.0001;
}

.ng-animate-active {
	clip: rect(-1px, auto, auto, 0);
	-ms-zoom: 1;
}

/* CSS Document */

body {
	padding-top: constant(safe-area-inset-top);
	padding-left: constant(safe-area-inset-left);
	padding-right: constant(safe-area-inset-right);
	padding-bottom: constant(safe-area-inset-bottom);
}

body,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
dd,
a,
i,
b,
em,
strong,
span,
img,
table,
tr,
th,
td,
u {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: #333;
}

a:link {
	outline: none;
	text-decoration: none;
	color: #333;
}

a:visited {
	outline: none;
	text-decoration: none;
	color: #333;
}

a:hover {
	outline: none;
	text-decoration: none;
	color: #333;
}

a:active {
	outline: none;
	text-decoration: none;
	color: #333;
}

li {
	list-style: none;
}

em,
i {
	font-style: normal;
}

b,
strong {
	font-weight: normal;
}

img {
	vertical-align: top;
	border: none;
}

a img {
	border: none;
}

a:focus {
	outline: none;
	text-decoration: none;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.clearfix:after {
	content: "";
	height: 0;
	visibility: hidden;
	display: block;
	clear: both;
}

.clearfix {
	*zoom: 1;
}

/*公共样式开始*/
* {
	font-family: "MicrosoftYaHei";
	-webkit-overflow-scrolling: touch;
	color: #333;
}

ul,
ol,
li {
	list-style: none;
	/*margin-bottom: 0.05rem;*/
}

a {
	text-decoration: none;
	color: #333;
}

input {
	border: 0;
	outline: none;
}

html input[type='submit'],
html input[type='button'] {
	-webkit-appearance: none;
	outline: none;
}

/*外边距*/

.mar0 {
	margin: 0 auto;
}

/*定位*/

.pos1 {
	position: relative;
}


/*公共样式结束*/

/*Android上去除a input在获得焦点时的高亮边框outline*/

*,
:focus,
:hover,
:active {
	outline: 0;
}

header {
	border: none;
}

li {
	list-style-type: none;
}