<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <base target="_blank" />
    <title>审核管理</title>
    <link rel="stylesheet" href="../../../static/css/common.css">
    <link rel="stylesheet" href="../../../static/css/bace.css">
    <link rel="stylesheet" href="../../../static/css/auditManagement.css">

</head>

<body>
    <!-- 审核管理 -->
    <div class="x-content">
        <div class="x-container flexs">
            <!-- 左侧导航 -->
            <div class="leftBox">
                <ol class="leftTopTab clearfix">
                    <li class="fl lefTtab active">帖子审核</li>
                    <li class="fl rightTab">回复审核</li>
                    <div>
                </ol>
                <ul class="titleListBox">
                    <li class="titleList active">
                        <span>生活类</span>
                    </li>
                    <li class="titleList">
                        <span>管理类</span>
                    </li>
                    <li class="titleList">
                        <span>质量类</span>
                    </li>
                    <li class="titleList">
                        <span>成本类</span>
                    </li>
                    <li class="titleList">
                        <span>产品设计类</span>
                    </li>
                </ul>
                </div>
                <!-- 右侧内容 -->
                <div class="rightBox">
                    <!-- 标题-搜索 -->
                    <div class="topInfo clearfix pos1">
                        <p class="fl topTitle clearfix">
                            <span class="fl">帖子审核</span>
                            <span class="fl">></span>
                            <span class="fl">生活类</span>
                        </p>
                        <input type="text" class="fr search" value="按用户或帖子关键词查找" />
                        <b></b>
                    </div>
                    <!-- 内容列表 -->
                    <div class="contentInfoBox">
                        <ol class="clearfix contentTitle">
                            <li class="fl">帖子内容</li>
                            <li class="fl">帖子ID</li>
                            <li class="fl">发帖人</li>
                            <li class="fl">发帖时间</li>
                            <li class="fl">
                                <div class="clearfix selectBox pos1">
                                    <p class="fl">状态</p>
                                    <ol class="selectList">
                                        <li>全部</li>
                                        <li>已通过</li>
                                        <li>待审核</li>
                                        <li>已拒绝</li>
                                    </ol>
                                </div>
                            </li>
                            <li class="fl">置顶时限</li>
                            <li class="fl">操作</li>
                        </ol>
                        <ul class="clearfix contentTnet">
                            <li class="fl">今天居然下雨了，不过不要紧，要命的是我没有带伞！！</li>
                            <li class="fl">12001</li>
                            <li class="fl">小飞侠</li>
                            <li class="fl">2018-07-18 14:32:43</li>
                            <li class="fl">已通过</li>
                            <li class="fl">
                                <span>3</span>天</li>
                            <li class="fl">
                                <div class="operation clearfix">
                                    <p class="fl setTop">置顶</p>
                                    <p class="fl refuse">拒绝</p>
                                    <p class="fl delete">删除</p>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>




        <script src="../../../static/js/lib/jquery-1.12.4.js"></script>
        <script>
            $(".leftTopTab,.titleListBox").on("click", "li", function () {
                $(this).addClass("active").siblings().removeClass("active");
            });
        </script>
</body>

</html>