<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../../../static/css/common.css">
    <link rel="stylesheet" href="../../../../static/css/bace.css">
    <link rel="stylesheet" href="../../../../static/css/dataStatistics.css">
    <link rel="stylesheet" href="../../../../static/css/blockMange.css">
    <link rel="stylesheet" href="../../../../static/css/postDeail.css">

</head>

<body>
    <!-- <header class="x-content">
        <div class="x-container flexs">
            <img src="../../../../static/image/x-logo.png" alt="">
            <ul class="nav flexs">
                <li class="active">数据统计</li>
                <li>板块管理</li>
                <li>审核管理</li>
                <li>用户管理</li>
                <li>系统设置</li>
            </ul>
            <div class="settings">
                <span>帮助中心</span>
                <span>|</span>
                <span>退出</span>
            </div>
        </div>
    </header> -->
    <!-- 第一部分内容 -->
    <div class="x-content tabl-txt-bg">
        <div class="x-container">
           <!-- <input type="button" class="newBlock" value="新增版块"/> -->
           <div class="postDetail_title">
                <b>审核管理</b>
                <i></i>
                <span>帖子详情</span>
           </div> 
           <div class="postDetail_content">
                <li>
                    <span class="fl">所属版块</span>
                    <div class="fl"><span>生活类</span></div>
                </li>
                <li>
                    <span class="fl">用户头像</span>
                    <div class="fl"><div class="useImg"></div></div>
                </li>
                <li>
                    <span class="fl">发帖人ID</span>
                    <div class="fl"><span>很难英俊啊</span></div>
                </li>
                <li>
                    <span class="fl">帖子标题</span>
                    <div class="fl"><span></span></div>
                </li>
                <li>
                    <span class="fl">帖子内容</span>
                    <div class="fl">
                        <span>咱们公司的新产品，模型已经出来了，现在给大家看看吧。</span>
                        <p>
                            <img src="../../../static/image/innerPic01.jpg" alt="">
                            <img src="../../../static/image/innerPic02.jpg" alt="">
                            <img src="../../../static/image/innerPic03.jpg" alt="">
                            <img src="../../../static/image/innerPic01.jpg" alt="">
                            <img src="../../../static/image/innerPic02.jpg" alt="">
                            <img src="../../../static/image/innerPic03.jpg" alt="">
                            <img src="../../../static/image/innerPic01.jpg" alt="">
                            <img src="../../../static/image/innerPic02.jpg" alt="">
                            <img src="../../../static/image/innerPic03.jpg" alt="">
                        </p>
                    </div>
                </li>
                <li>
                    <span class="fl">精彩评论</span>
                    <div class="fl commentList">
                        <p>
                            <div>
                                <dl>
                                    <dt>神奇的大毛毛</dt>
                                    <dd>搞什么飞机，咋做的这么漂亮，厉害了我的哥</dd>
                                </dl>
                                <div class="deleat"></div>
                            </div>
                            <div>
                                <dl>
                                    <dt>神奇的大毛毛</dt>
                                    <dd>搞什么飞机，咋做的这么漂亮，厉害了我的哥</dd>
                                </dl>
                                <div class="deleat"></div>
                            </div>
                            <div class="deleat_this">
                                <dl>
                                    <dt>神奇的大毛毛</dt>
                                    <dd>搞什么飞机，咋做的这么漂亮，厉害了我的哥</dd>
                                </dl>
                                <div class="deleat"></div>
                            </div>
                        </p>
                        <p>
                            <div href="" class="clickMore">点击查看更多评论</div>
                        </p>
                    </div>
                </li> 
                <li>
                    <span class="fl">填写评论</span>
                    <div class="fl fillIn">
                        <h6>填写评论内容</h6>
                        <textarea name="" id="" cols="30" rows="10"></textarea>
                        <h6>选择评论人身份</h6>
                        <div class="fillInBtn">
                            <select>
                                <option value ="volvo">版主</option>
                            </select>
                            <input type="button" value="发送">
                    </div>
                </li>  
           </div>
        </div>
    </div>  
</body>
<script src="../../../static/js/lib/jquery-1.12.4.js"></script>
<script src="../../../static/js/lib/echarts.js"></script>
<script src="../../../static/js/dataStatistics.js"></script>
<script src="../../../static/layui/layui.all.js"></script>
</html>