<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/bace.css">
    <link rel="stylesheet" href="../../static/css/dataStatistics.css">

</head>
<body>
    <div class="dataStatistics">
        <!-- 头部区域 -->
        <div class="title">
            <div class="titleCen">
                <div class="titleCenLeft">
                    <!-- <img src="" alt="" class="logo">
                    <span>京东小易</span> -->
                </div>
                <div class="titleCenCen">
                    <li class="selected">数据统计</li>
                    <li>版本管理</li>
                    <li>审核管理</li>
                    <li>用户管理</li>
                    <li>系统设置</li>
                </div>
                <div class="titleCenRight">
                    <span>帮助中心</span> | <span>退出</span>
                </div>
            </div>
        </div>
        <!-- 主体区域 -->
        <div class="content">
            <!-- 排行 -->
            <div class="rankings">
                <!-- 排行左侧 -->
                <div class="rankingLeft">
                    <div class="rankingLeftSelect">
                        <li class="selected">生活类</li>
                        <li>管理类</li>
                        <li>产品设计类</li>
                        <li>质量类</li>
                        <li>成本类</li>
                    </div>
                    <div class="rankingLeftTable">
                            <div class="rankingLeftTableSel">
                                <ul class="rankingLeftTableSelLe">
                                    <li>最多评论</li>
                                    <li>最多浏览</li>
                                    <li>最多点赞</li>
                                </div>
                                <ol class="rankingLeftTableSelRig">
                                    <li>日</li>
                                    <li>月</li>
                                    <li>周</li>
                    </div>
                    <table class="rankingLeftTableTa">
                        <tr>
                            <th>排名</th>
                            <th>帖子内容</th>
                            <th>帖子ID</th>
                            <th>发帖人</th>
                            <th>发帖时间</th>
                            <th>评论数</th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>及那好是AV庵后回家哦</td>
                            <td>120001</td>
                            <td>贾先生</td>
                            <td>2018-05-16 18:20</td>
                            <td>1240</td>
                        </tr>
                    </table>
                    </div>
                </div>
                <div class="rankingRight">
                    <h3>每月达人榜</h3>  
                    <ul>
                        <li>
                            <img src="" alt="">
                            <span>很难英雄啊</span>
                            <img src="" alt="" class="good">
                            <b>3354</b>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>