<!DOCTYPE html>
<html lang="en">

<script type="text/javascript" src="/static/js/lib/jquery-1.12.4.js"/>
<script type="text/javascript" src="/static/js/postInfo/ForumPostInfo.js"/>
<head>
    <meta charset="UTF-8"/>
    <title>测试</title>
</head>
<body>
<div>
    <div>
        <div>发送数据：</div>
        <p></p>
        <div>
            <input type="text" id="request" style="width: 400px;height: 50px" /></div>
    </div>
    <div>
        <input type="button" id="setPostToTop" value="帖子设为置顶" onclick="forumPostInfoJS.setPostToTopOnclick()"/>
        <input type="button" id="cancelPostTop" value="帖子取消置顶" onclick="forumPostInfoJS.cancelPostTopOnclick()"/>
        <input type="button" id="queryAllForumTopicList" value="查询所有版块" onclick="forumPostInfoJS.queryAllForumTopicListOnclick()"/>
    </div>
    <div>
    </div>

    <div style="margin-top: 20px">
        <div>返回数据：</div> <textarea  id="show" style="width: 800px;height: 200px"></textarea>
    </div>

</div>
</body>


</html>